/* Design System */
:root {
    --color-blue-1: #4361ee;
    --color-blue-2: #3f37c9;
    --color-blue-3: #4895ef;
    --color-white-1: #f8f9fa;
    --color-white-2: #f5f7fa;
    --color-dark-white: #f0f0f0;
    --color-black: #212529;
    --color-aqua: #4cc9f0;
    --color-pink: #f72585;
    --color-dark-pink: #d1145a;
    --color-gray: #adb5bd;

    --primar-color: #4361ee;
    --secondary-color: #3f37c9;

    /* Typography */
    --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    transition: 0.3s all ease-in-out;
}

/* BASE STYLES */
body {
    background-color: var(--color-white-2);
    color: var(--color-black);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select,
button {
    flex: 1;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    font-size: 20px;
    height: 60px;
    padding: 0 20px;
}

input:focus,
select:focus {
    outline: none;
    border-color: var(--primar-color);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 16px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-white-1);
}

li:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
label{
    font-weight: 500;
    font-size: 18px;
}

/* LAYOUT  */
.container {
    max-width: 1050px;
    padding: 0 25px;
    margin: auto;
}

/* UTILITIES */
.heading {
    color: var(--primar-color);
    margin-bottom: 10px;
    font-size: 40px;
}

.btn {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--color-gray);
    color: var(--color-black);
}

.btn-outline:hover {
    background-color: var(--color-dark-white);
}

.btn-primary {
    background-color: var(--primar-color);
    color: var(--color-white-1);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.btn-danger {
    background-color: var(--color-pink);
    color: var(--color-white-1);
}

.btn-danger:hover {
    background-color: var(--color-dark-pink);
}

.check-box {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.action-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    height: fit-content;
}

/* COMPONENTS */
.priority-item {
    background-image: none;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: 9999px;
    font-size: 15px;
    font-weight: 700;
    height: fit-content;
}